
    <ul class="nav justify-content-end items">

        <li class="nav-item">
            <!-- <h1 class="header">SETTINGS</h1> -->
            <li><a class="header-settings">Settings</a></li>
         <div class="dropdown">
            <button class="btn btn-default dropdown-toggle flipInX" type="button" data-toggle="dropdown" data-hover="dropdown"  data-animations="flipInX fadeInLeft fadeInUp fadeInRight">
                    <i class="fa fa-file-o"></i> Manage Organizations & Users <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li></li><a routerLink='/doc'>Document Type</a>
              <li><a  routerLink="/design">Designations</a></li>
              <li><a routerLink="/dept">Department</a></li>
              <li><a routerLink="/loc">Locations</a></li>
              <li><a routerLink="/org">Organizations</a></li>
              <li><a routerLink="/Users">Users</a></li>
              </ul>
              </div>




         <div class="vertical">

        </div>

        <li class="nav-item">
        <a class="nav-link dropdata" href="#"><i class="fa fa-plus"></i>Create Project</a>
        </li>
        <div class="vertical">

        </div>

        <li class="nav-item">
        <a class="nav-link dropdata" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Time Sheets</a>
        </li>
        <div class="vertical">

        </div>
        <li class="nav-item">
        <a class="nav-link dropdata" href="#"><i class="fa fa-edit" aria-hidden="true"></i>Edit Projects</a>
        </li>
        </ul>
        <div class="main-container container-fluid">
          <div class="pannel zoomIn">

          </div>

      </div>






